body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-wrapper{
    border: 4px dashed teal;
    padding: 4rem;
    border-radius: 15px;
    text-align: center;
}

.header-wrapper{
    text-align: center;
    text-align: center;
    margin-bottom: 20px;
}
.upload-icon{
    width: 80px;
    height: 80px;
}

.upload-input input{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.upload-input button{
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    background-color: #1993e9;
    font-weight: 700;
    color: white;
}
.img-display{
    margin-top: 20px;
    border-radius: 10px;
}

#data{
    margin: 3rem auto;
    width: 400px;
    font-weight: 600;
    font-size: 20px;
}
.progress-wrapper{
    display: none;
}
.btn-download{
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: deepskyblue;
    text-decoration: none;
    color: white;
    font-weight: 600;
}


@media(max-width: 700px){
    .upload-wrapper{
        max-width: 500px;
    }
}



